<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite111">
	<test name="test">
		<classes>
		    <class name="com.testframe.runner.Login.Loginrunner"/>
            
	    	<class name="com.testframe.runner.Withdraw.withdrawamountrunner"/>
		</classes>
	</test>
</suite> 